<footer class="main__footer">
  <div class="footer__button">
    <img class="button__img" src="/assets/images/browse.svg" alt="Browse">
  </div>
  <div class="footer__button">
    <img class="button__img" src="/assets/images/play.svg" alt="Player">
  </div>
  <div class="footer__button">
    <img class="button__img" src="/assets/images/search.svg" alt="Search">
  </div>
</footer>