<footer class="main__footer">
  <div class="footer__button">
    <a href="/"> <img class="button__img" src="/assets/images/browse.svg" alt="Browse"></a>
  </div>
  <div class="footer__button">
    <a href="/player"><img class="button__img" src="/assets/images/play.svg" alt="Player"></a>
  </div>
  <div class="footer__button">
    <img class="button__img" src="/assets/images/search.svg" alt="Search">
  </div>
</footer>