<header class="header">
    <nav class="header__nav">
        
        <label for="checkbox" id="checkboxLabel" style="transform: scale(0.7)">Show More</label>
        <input type="checkbox" id="checkbox" />
        <ul id="uList">
            <div class="install">
                <button class="install__button hidden">Install</button>
            </div>
        </ul>
    </nav>
</header>