<% include ../partials/head %>
<% include ../partials/navbar %>

<div class="install">
    <button class="install__button hidden">Install</button>
</div>

<% include ../partials/index-main %>

<% include ../partials/footer %>
<% include ../partials/after-footer %>