<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IPlayMusicV2</title>
    <link rel="stylesheet" href="../assets/css/player.css">
    <link rel="manifest" href="../manifest.webmanifest">
    <link rel="apple-touch-icon" href="../assets/images/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <% include ../partials/navbar %>

<main class="main">

    <div class="main__container">
        <img class="container__img" src="">
    </div>

    <section class="main__section">

        <div class="section__section">
            <p class="section__title"></p>
            <p class="section__artist"></p>
            <img class="section__artistIMG" src="">
        </div>

        <div class="section__container">
            <audio class="container__player">
                <source class="player__src" src="../assets/song/ELVIS.mp3" type="audio/mp3">
            </audio>
            <div class="container__slider">
                <div class="slider__progress"></div>
                <div class="slider__playhead" style="margin-left:0px;"></div>
            </div>
            <p class="container__start">0:00</p>
            <p class="container__end"></p>
        </div>

        <div class="section__functions">
            <img class="functions__shuffle" src="../assets/images/shuffle.svg">
            <img class="functions__back" src="../assets/images/back.svg">
            <img class="functions__play" src="../assets/images/playbutton.svg">
            <img class="functions__forward" src="../assets/images/next.svg">
            <img class="functions__repeat" src="../assets/images/repeat.svg">
        </div>

    </section>
</main>

<% include ../partials/footer %>
<script src="../assets/javascript/player.js"></script>
<script src="../assets/javascript/navbar2.js"></script>
</body>
</html>